main{
    flex-direction: column;
}

.informacoes{
    background-color: rgb(16, 16, 16);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.informacoes-texto{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.informacoes-redes{
    display: flex;
    flex-direction: row;
}

figure{
    max-width: 100%;
}

iframe{
    max-width: 100%;
}

@media screen and (max-width: 800px) {
    .informacoes{
        grid-template-columns: 1fr;
    }
    .informacoes-texto{
        flex-direction: row;
        gap: 36px;
        flex-wrap: wrap;
    }
}